* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.header{
    background-color: rgb(218, 39, 47);
    overflow: hidden;
    padding: 10px;
}

.header .h-right {
    float: right;
    font-size: 20px;
}

.header .h-left {
    float: left;
    font-size: 10px;
    color: rgba(122, 52, 55, 0.315);
}

.header .h-right a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 5px;
}

.header .h-right a:hover {
    color: black;
}