    .login_page {
        position: relative;
        -webkit-animation: fadein 1s;
        animation: fadein 1s;
    }
    
    @-webkit-keyframes fadein {
        from {
            opacity: 0
        }
        to {
            opacity: 1
        }
    }
    
    @keyframes fadein {
        from {
            opacity: 0
        }
        to {
            opacity: 1
        }
    }
    
    .login_page center {
        margin-top: 100px;
    }

    .login_page a{
        text-align: center;
    }
    
    .login_page input {
        margin: 10px;
        display: block;
        padding: 10px;
        border-radius: 8px;
        width: 25%;
    }
    
    .login_page input[type='submit'] {
        background-color: rgb(218, 39, 47);
        color: aliceblue;
        padding: 20px;
        border: none;
    }