input {
    margin: 10px;
    display: block;
    padding: 10px;
    border-radius: 8px;
    width: 25%;
}

input[type='submit'] {
    background-color: rgb(218, 39, 47);
    color: aliceblue;
    padding: 20px;
    border: none;
    font-size: 20px;
}

input[type='file'] {
    width: 100%;
   padding: 10px;
}

.docx {
    background-color: rgb(218, 39, 47);
    padding: 10px;
    border-radius: 8px;
    color: aliceblue;
    display: block;
    width: 10%;
}

.center-b {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 40px;
}

.center-b .f-left {
    float: left;
    font-size: 30px;
}

.center-b .f-right {
    float: right;
}

.center-b .f-right a {
    text-decoration: none;
    padding: 5px;
    background-color: rgb(218, 39, 47);
    color: aliceblue;
}

.headline:hover {
    color: red;
}