.reg1_page {
    position: relative;
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.reg1_page input,
select {
    margin: 10px;
    display: block;
    padding: 10px;
    border-radius: 8px;
    width: 25%;
}

.reg1_page input[type='submit'] {
    background-color: rgb(218, 39, 47);
    color: aliceblue;
    padding: 20px;
    border: none;
}

.reg2_page {
    position: relative;
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
    display: none;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.reg2_page input,
select {
    margin: 10px;
    display: block;
    padding: 10px;
    border-radius: 8px;
    width: 25%;
}

.reg2_page input[type='submit'] {
    background-color: rgb(218, 39, 47);
    color: aliceblue;
    padding: 20px;
    border: none;
}